<% layout('./layouts/boilerplate')%>

<div class="row">
    <div class="h1 text-center">
    Edit Campground Information
</div>
  <form action="/campgrounds/<%=campground.id%>?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">

    <div class="col-6 offset-3">
      <label for="title" class="form-label">Title:</label>
      <input
        class="form-control"
        type="text"
        name="campground[title]"
        id="title"
        value="<%=campground.title%>"
        required
      />
          <div class="invalid-feedback">Please enter a title</div>
        <div class="valid-feedback">Looks good</div>
    </div>
    <div class="col-6 offset-3">
      <label class="form-label" for="location">location:</label>
      <input
        class="form-control"
        type="text"
        name="campground[location]"
        id="location"
        value="<%=campground.location%>"
        required
      />
              <div class="invalid-feedback">Please enter a location</div>
        <div class="valid-feedback">Looks good</div>
    </div>
    <div class="col-6 offset-3">
      <label class="form-label" for="image">Image URL: </label
      ><div class="input-group mb-3">
          <input type="file" class="form-control" id="image" name="campground[image]" multiple>
        </div>
<div class="mb-3">
    <label class="form-label" for="price">Price: </label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">$</span>
        <input
          type="text"
          class="form-control"
          name="campground[price]"
          id="price"
          value="<%= campground.price %> "
          required
        />
        <span class="input-group-text">.00</span>
                  <div class="invalid-feedback">Please enter a price</div>
          <div class="valid-feedback">Looks good</div>
      </div>
</div>
      <div class="mb-3">
        <label class="form-label" for="description">Description: </label
        ><textarea
          type="text"
          class="form-control"
          name="campground[description]"
          id="description"
          required
        ><%=campground.description %></textarea>
                <div class="invalid-feedback">Please enter a description</div>
        <div class="valid-feedback">Looks good</div>
      </div>
      <div class="container">
<div class="row">
      <div class="mb-3 col">
        <% campground.images.forEach(function(img, i){ %> 
          <img src="<%=img.thumbnail %>" alt="" class="">
          <div class="form-check-inline">
            <input type="checkbox" id="delete<%= i %>" name="deleteImages[]" value="<%=img.filename %>">
            <label for="delete<%=i %> ">Delete?</label>
          </div>
         
          <% }) %> 
      
      </div></div></div>
      <div class="mb-3 offset-3">
        <button class="btn btn-info text-white">Update Campground</button>
      </div>
        </form>
    </div>

</div>
