<% layout('./layouts/boilerplate')%> <%- include('../partial/flash')%>
<div class="container">
<div id="map" style="width: 100%; height: 300px"></div></div>
<h1>All Campgrounds</h1> <div class="d-inline">
<nav aria-label="Page navigation example">
<% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled page-item"><span class="page-link">First</span></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/campgrounds/page/1">First</a></li>
                    <% } %>
                    <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled page-item"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active page-item"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/campgrounds/page/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled page-item"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled page-item"><a class="page-link">Last</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/campgrounds/page/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
            </nav>
</div>
<% for(let camps of campgrounds){%>
<div class="container">
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" alt="" <% if(camps.images.length){%>src="<%=camps.images[0].url%>" <% }else{ %> src="https://res.cloudinary.com/blamzilla/image/upload/v1627524659/YelpCamp/optfg7etk7l7vn0pmrdp.jpg"<% } %>  />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=camps.title%></h5>
        <p class="card-text"><%=camps.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= camps.location %> </small>
        </p><p class="card-text">
          <small class="text-muted">Created:  <% if(camps.date){%>
            <%const date = new Date(camps.date * 1000)%><%=date.toLocaleString()%><% } else{ %> date unavailable <% } %>  </small>
        </p>
        <a href="/campgrounds/<%=camps.id%>" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>
</div>

<%}%>

<script>
const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
const campgrounds = {features:<%- JSON.stringify(campgrounds) %>}
</script>
<script src="/js/clusterMap.js"></script>
